*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-weight: 100;
    font-variant: small-caps;
    font-family: sans-serif;
    margin-top: 120px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
#firstname{
    margin: 0.5rem;
    font-size: 16px;
    border: 1px solid rgb(88, 210, 88);
    padding: 10px 16px 10px 10px;
}
#lastname{
    margin: 0.5rem;
    font-size: 16px;
    border: 1px solid rgb(88, 210, 88);
    padding: 10px 16px 10px 10px;
}
#country{
    margin: 0.5rem;
    font-size: 16px;
    border: 1px solid rgb(88, 210, 88);
    padding: 10px 16px 10px 10px;
}
#score{
    margin: 0.5rem;
    font-size: 16px;
    border: 1px solid rgb(88, 210, 88);
    padding: 10px 16px 10px 10px;
}
#butt{
    background-color: rgb(88, 210, 88);
    margin: 0.5rem;
    font-size: 16px;
    border: 1px solid rgb(88, 210, 88);
    padding: 10px 30px;
    cursor: pointer;
}







.nameContent{
    text-align: center;
    list-style-type: none;
    font-size: 22px;
    margin:10px 220px;
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    padding: 40px 60px 60px 60px;
    background-color: rgb(88, 210, 88);
}
.countryContent{
    font-size: 22px;
    text-align: center;
    align-items: center;
    padding: 40px 60px 60px 80px;
    background-color: rgb(88, 210, 88);
}
.curentScore{
    font-size: 22px;
    text-align: center;
    align-items: center;
    padding: 40px 60px 60px 60px;
    background-color: rgb(88, 210, 88);
} 

.increaseScore{
    margin-left: 7rem;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(21, 180, 21);
    padding: 5px 10px;
    border-radius: 50%;
}
.decreaseScore{
    margin-left: 2rem;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(21, 180, 21);
    padding: 5px 13px;
    border-radius: 50%;
}

.deleteButton{
    margin-left: 7rem;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(21, 180, 21);
    padding: 5px 10px;
    border-radius: 50px;
}